html,
body {
  background-color: #37a0bf;
  font-family: "Times New Roman", Times, serif;
}
.grid {
  display: grid;
  /* grid-template-rows: 0.12fr auto; */
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  gap: 1px;
  background-color: #37a0bf;
}
.grid-item-1 {
  grid-column: span 12;
  background-color: #37a0bf;
}
.grid-item-2 {
  grid-column: span 2;
  background-color: #37a0bf;
}
.grid-item-3 {
  grid-column: span 7;
  margin: 5%;
  position: relative;
}
#uploadButton {
  width: 93%;
  height: 48%;
  border-style: dashed;
  border-width: 0.5px;
  border-radius: 2%;
  border-color: rgb(222, 222, 221);
  background-color: #37a0bf;
}
.navigationButtons {
  margin-top: 20px;
}

#previousButton {
  background-color: #37a0bf;
  border-color: rgb(222, 222, 221);
  padding: 4px 10px;
  /* margin-left: 10%; */
}
#nextButton {
  background-color: #37a0bf;
  border-color: rgb(222, 222, 221);
  padding: 4px 20px;
  /* margin-left: 1%; */
}
.grid-item-4 {
  grid-column: span 3;
  background-color: #37a0bf;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 5px;
  margin-top: 9.6%;
}
.partyNumber {
  grid-column: span 3;
  background-color: #37a0bf;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdownButton {
  border-color: rgb(222, 222, 221);
}
.firstButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonClass {
  width: 100%;
  height: 100%;
  border: none;
  border-style: dashed;
  border-color: rgb(222, 222, 221);
  border-width: 0.5px;
  background-color: #37a0bf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bi-fonts {
  margin-top: 10%;
  font-size: 160%;
}

.bi-pencil {
  margin-top: 10%;
  font-size: 130%;
}

.bi-calendar-event {
  margin-top: 10%;
  font-size: 120%;
}

.bottomCard {
  background-color: #37a0bf;
  grid-column: span 3;
  border-width: 1px;
}
.circle {
  color: red;
  font-size: 70%;
  margin-top: -10%;
}
.plus {
  margin-left: 10%;
}

.cashe-logo {
  width: 15%;
  height: 70%;
}
